@model List<FacultyModel>

<div style="margin-bottom: 10px; margin-top: 10px">
<table>
    <tr>
        <th style="border:solid; border-width:thin">Id</th>
        <th style="border:solid; border-width:thin">CreateTime</th>
        <th style="border:solid; border-width:thin">Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="border:solid; border-width:thin">@item.Id</td>
            <th style="border:solid; border-width:thin">@item.CreateTime</th>
            <td style="border:solid; border-width:thin">@item.Name</td>
        </tr>
    }
</table>
</div>