@{
    ViewData["Title"] = "Programs";
}

<body>
    <h2>Programs</h2>

    @model MVC.Models.Programs.ProgramSearchModel

    <form asp-controller="Programs" asp-action="SearchPrograms" id="searchForm">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Faculty">Факультет</label>
                    <input asp-for="Faculty" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="EducationLevel">Уровень образования</label>
                    <input asp-for="EducationLevel" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="EducationForm">Форма обучения</label>
                    <input asp-for="EducationForm" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Language">Язык обучения</label>
                    <input asp-for="Language" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Code">Код программы</label>
                    <input asp-for="Code" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Name">Название программы</label>
                    <input asp-for="Name" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Page">Страница</label>
                    <input asp-for="Page" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Size">Количество записей на странице</label>
                    <input asp-for="Size" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary mt-4" id="SearchButton">Поиск</button>
            </div>
        </div>
    </form>

    <div id="searchResults"></div>

    <div id="SearchProgramsData" style="display:none;"></div>

    <div id="QueueForm" class="mt-4">
        <h3>Создать очередь программ</h3>
        <form asp-controller="Programs" asp-action="CreateQuery" id="createQueueForm">
            <div class="form-group">
                <label for="UserId">ID пользователя:</label>
                <input type="text" class="form-control" id="UserId" name="UserId" />
            </div>
            <div class="form-group">
                <label for="ProgramIds">ID программ:</label>
                <input type="text" class="form-control" id="ProgramIds" name="ProgramIds" />
                <small id="ProgramIdsHelp" class="form-text text-muted">Введите ID программ через запятую.</small>
            </div>
            @*<button type="submit" class="btn btn-success" id="CreateQueueButton">Создать очередь</button>*@
            <button type="submit" class="btn btn-success" id="CreateQueueButton" formmethod="post" formaction="@Url.Action("CreateQuery", "Programs")">Создать очередь</button>
        </form>
    </div>

    <div id="QueueResults" class="mt-4"></div>

    <div id="SearchProgramsData" style="display:none;"></div>

</body>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#createQueueForm').submit(function (event) {
                event.preventDefault(); // Предотвращаем стандартное действие отправки формы

                // Получаем введенные значения
                var userId = $('#UserId').val();
                var programIds = $('#ProgramIds').val();

                // Преобразуем строку с ID программ в массив Guid
                var programIdArray = programIds.split(',').map(function (id) {
                    return id.trim(); // Удаляем пробелы вокруг ID
                });

                // Отправляем данные методом POST
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CreateQuery", "Programs")',
                    data: {
                        programs: programIdArray,
                        userId: userId
                    },
                    success: function (data) {
                        // Очищаем результаты предыдущих запросов
                        $('#QueueResults').empty();

                        // Добавляем полученные результаты на страницу
                        $('#QueueResults').html(data);
                    }
                });
            });

            // AJAX запрос для формы поиска
            $('#searchForm').submit(function (event) {
                event.preventDefault(); // Предотвращаем стандартное действие отправки формы
                var formData = $(this).serialize(); // Сериализуем данные формы
                $.ajax({
                    type: 'POST', // Используем метод POST для отправки данных
                    url: $(this).attr('action'), // Получаем URL из атрибута action формы
                    data: formData, // Передаем сериализованные данные
                    success: function (data) {
                        $('#searchResults').html(data); // Заменяем содержимое блока результатов новыми данными
                    }
                });
            });
        });
    </script>
}
